h6 {
	color: blue;
}
h5 {
	font-size: 20px;
}
.card:hover {
	color: silver;
	cursor: pointer;
}
img {
	width: 300px;
	height: 180px;
}
#sel1, input, button {
	font-family: 'Nanum Gothic', sans-serif;
}